<%= layout("/views/layouts/boilerplate.ejs") %>
<body>
    <br>
    <div class="col-8 offset-2">
     <h3>Edit this Listing</h3>
     <br>
     
    <form novalidate class="needs-validation" method="post" action="/listings/<%=listing._id%>?_method=PUT" enctype="multipart/form-data">
       

        <div class="mb-3">
        <label for="title" class="form-label">Title</label>
         <input required class="form-control" name="listing[title]" value="<%=listing.title%>">
          <div class="valid-feedback">
         Looks good!
        </div>
        <div class="invalid-feedback">Title should be required</div>
        </div>


        <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea required class="form-control" name="listing[description]" ><%=listing.description%></textarea> 
        <div class="invalid-feedback">Description should be required</div>
        </div>

        <div class="mb-3">
            Original Listing Image <br/>
            <img style="height: 4cm; width: 8cm;" src="<%=listing.image.url%>" />
        </div>
        
        
        <div class="mb-3">
        <label for="image" class="form-label">Image</label>
         <input  class="form-control" name="listing[image]" type="file" value="<%=listing.image.url%>">
         <!-- <div class="invalid-feedback">Image Link/Url should be required</div> -->
        </div>
        

        <div class="row">

        <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input required class="form-control" name="listing[price]" type="number" value="<%=listing.price%>">
        <div class="invalid-feedback">Price should be required</div>
        </div>

        <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input required class="form-control" name="listing[country]" value="<%=listing.country%>">
        <div class="invalid-feedback">Country should be required</div>
        </div>

        </div>
        


        <div class="mb-3">
        <label for="location" class="form-label">Location</label>
          <input required class="form-control" name="listing[location]" value="<%=listing.location%>">
          <div class="invalid-feedback">Location should be required</div>
        </div>
       
       
        
        
        <button class="btn edit-btn" >Edit</button>
    </form>
    </div>
</body>
